<br><br><br><br>

<section class="Surveys-section text-center" id="Surveys">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Survey</h2>
          <h3 class="section-subheading text-muted">Active surveys:</h3>
        </div>
        <br><br><br>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">Question 1</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</p>
            </div>
            <div class="card-footer">
              <form>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question1" id="q1-option1" value="option1" />
                  <label class="form-check-label" for="q1-option1">Yes</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question1" id="q1-option2" value="option2" />
                  <label class="form-check-label" for="q1-option2">No</label>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">Question 2</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</p>
            </div>
            <div class="card-footer">
              <form>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question2" id="q2-option1" value="option1" />
                  <label class="form-check-label" for="q2-option1">Yes</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question2" id="q2-option2" value="option2" />
                  <label class="form-check-label" for="q2-option2">No</label>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">Question 3</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</p>
            </div>
            <div class="card-footer">
              <form>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question3" id="q3-option1" value="option1" />
                  <label class="form-check-label" for="q3-option1">Yes</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question3" id="q3-option2" value="option2" />
                  <label class="form-check-label" for="q3-option2">No</label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>